@font-face {
    font-family: 'DreamingOutLoudRegularPro';
    src: url('../../dreaming-outloud-regular-pro.otf') format('woff2')
}

:root {
    /* Colors */
    --white: #FFFFFF;
    --black: #000000;
    --dark: #04364A;
    --very-light-cian: #DAFFFB;
    --cian: #6FC9CA;

    /* Size */
    --sm: 16px;
    --md: 20px;
    --lg: 38px;
}

body {
    font-family: 'DreamingOutLoudRegularPro';
    background-color: var(--cian);
    padding: 5px;
}

.titulo h1 {
    font-size: var(--lg);
    color: var(--dark);
    margin-bottom: 0px;
}

h2 {
    position: sticky;
    top: 0;
    width: 100%;
    margin: 25px 0px 0px 0px;
    background-color: var(--cian);
    color: var(--white);
}

p {
    color: var(--very-light-cian);
    font-size: var(--md);
}

.video {
    border: 3px solid var(--very-light-cian);
    border-radius: 10px;
}